.privacy {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
}

.privacy-checkbox-container {
  display: flex;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}